/* --- 1. Custom Font Face Registration --- */
@font-face {
    font-family: 'Apple Garamond';
    src: url('./AppleGaramond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apple Garamond';
    src: url('./AppleGaramond-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Apple Garamond';
    src: url('./AppleGaramond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

